* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: 'Oswald', Courier, monospace;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 26px;
  font-weight: 100;
  font-family: 'Work Sans';
  color: #29293a;
}
h4 {
  font-size: 22px;
  font-weight: 100;
  color: #29293a;
}
h5 {
  font-size: 20px;
  font-weight: 100;
  color: #fff;
  font-family: 'Work Sans';
}
h6 {
  font-size: 18px;
}
p {
  font-size: 16px;
}
a {
  text-decoration: none;
}
ul, ol {
  list-style: none;
}
footer, section, nav, header {
  display: block;
}
/* HEADER STYLES */
nav {
  position: fixed;
}
header {
  height: 100px;
  width: 100%;
  font-size: 14px;
  font-weight: 300;
  position: fixed;
  border-bottom: .01px solid #d8d8d8;
  background-color: #fff;
  -webkit-box-shadow: 0px 11px 11px -5px rgba(0,0,0,0.72); 
  box-shadow: 0px 11px 11px -5px rgba(0,0,0,0.15);
  z-index: 1;
}
.header-logo {
  background-image: url(logo.png);
  background-position: center;
  background-repeat: no-repeat;
}
.container {
  height: 1000px;
  width: 100%;
}
.d-inline {
  display: inline-block;
}
.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.right {
  text-align: right;
  justify-content: space-between;
  position: relative;
  bottom: 30px;
  left: 300px;
}
.nav-link {
  padding: 5px 15px;
  text-decoration: none;
  color: #29293a;
  transition: .25s;
  text-transform: uppercase;
  letter-spacing: .5px;
  margin-left: 20px;
}
.nav-link:hover, .nav-link:active, .h-business:hover, .h-business:active {
  color: #1ab785;
}
.bars-icon {
  display: none;
}
/* GLOBAL CLASSES */
.my-20 {
  margin: 20px 0px;
}
.my-10 {
  margin: 30px 0px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-10 {
  margin-top: 10px;
}
.mx-200 {
  margin-right: 200px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mr-50 {
  margin-right: 50px;
}
.padding-y-50 {
  padding: 50px 0px;
}
/* @TODO refactor to flexbox */
.grid {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-column-gap: 10px;
  height: 100px;
}
.banner-image {
  background-image: url(marketing.jpg);
  height: 660px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.center {
  text-align: center;
}
.services {
  display: block;
  font-family: 'Work Sans';
  color: #74757f;
  width: 100%;
  margin: 20px auto;
}
.h3-style {
  font-family: 'Work Sans';
  color: #29293a;
}
.max-w {
  max-width: 730px;
}
.content-width {
  max-width: 1170px;
  margin: 0 auto;
}
.grid-services {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 50px;
}
.grid-about-us {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 100px;
}
.grid-team {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 370px;
  place-items: center;
  padding: 20px;
}
.grid-testimonials {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-column-gap: 50px;
}
.grid-testimonial {
  display: grid;
  grid-template-columns: 20% 80%;
  text-align: left;
}
.grid-pricing {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}
.img-about-us {
  background-image: url(about.jpg);
  height: 368px;
  width: 570px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.grid-team img {
  width: 300px;
  height: 330px;
  object-fit: cover;
  border-radius: 10px;
}
.grid-team figure {
  position: relative;
}
.grid-team figure::before {
  content: "";
  background-color: rgb(41, 41, 58);
  opacity: 0;
  transition: .5s;
  width: 100%;
  height: 330px;
  border-radius: 10px;
  position: absolute;
}
.grid-team figcaption {
  position: absolute;
  color: #fff;
  opacity: 0;
}
.team-member-name {
  bottom: 20%;
  left: 10%;
  font-size: 20px;
  font-family: 'Work Sans';
}
.position-title {
  bottom: 10%;
  left: 10%;
  font-size: 16px;
  font-family: 'Work Sans';
}
.grid-team figure:hover::before {
  opacity: 0.5;
}
.grid-team figure:hover figcaption {
  opacity: 1;
}
.img-team-person1 {
  /* width: 270px;
  height: 350px;*/
  margin: 10px auto;
  background-image: url(person1.jpg);
  height: 350px;
  width: 270px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 5px;
}
.img-team-person2 {
  /* width: 270px;
  height: 350px;*/
  margin: 10px auto;
  background-image: url(person2.jpg);
  height: 350px;
  width: 270px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 5px;
}
.img-team-person3 {
  /* width: 270px;
  height: 350px;*/
  margin: 10px auto;
  background-image: url(person3.jpg);
  height: 350px;
  width: 270px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 5px;
}
.img-testimonials {
  width: 76px;
  height: 70px;
  border-radius: 50%;
}
.text-bottom-left {
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.645);
  border-radius: 5px;
  color: #29293a;
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: 'Oswald';
}
.bg-about-us {
  background-color: #f5f6fa;
  padding: 72px;
}
.bg-testimonials {
  background-color: #f5f6fa;
  padding: 20px 40px;
}
.text {
  color: #74757f;
  font-family: 'Work Sans';
}
.btn {
  padding: 10px 45px;
  border-radius: 6px;
  border-style: none;
  background-color: #1ab785;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  font-family: 'Oswald';
  font-weight: 500;
  letter-spacing: .5px;
}
.btn:hover {
  transition: .25s;
  background-color: #16986f;
  color: #29293a;
  cursor: pointer;
}
.text-left {
  text-align: left;
}
.i-style {
  color: #1ab785;
  font-size: 25px;
}
.marketing {
  padding: 50px 0px;
  background-image: linear-gradient(to right, #21dba0, #0b4734);
}
.iframe {
  margin: 0px auto;
}
.testimonials {
  margin: 0px auto;
}
.text-testimonials {
  padding: 0px 10px;
  margin: auto 0px;
}
.text-green {
  color: #1ab785; 
  font-size: 20px;
}
.text-grey {
  color: #74757f;
}
.p-font {
  font-family: 'Work Sans';
}
.border-pricing {
  border: .01px solid #d8d8d8;
}
.h-business {
  font-size: 22px;
  font-weight: 1000;
  font-family: 'Work Sans';
  transition: .25s;
}
.grid-laptop {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-bottom: 500px;
}
.grid-laptop img { /*svaki img unutar ove klase (ne samo direktan child)*/
  height: 200px;
  object-fit: cover;
}
.grid-laptop figure {
  position: relative;
}
.grid-laptop figure::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 200px;
  background-color: rgb(41, 41, 58);
  top: 0;
  left: 0;
  opacity: 0;
  transition: .5s;
}
.grid-laptop figcaption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 50px;
  opacity: 0;
}
.grid-laptop figure:hover::before {
  opacity: 0.341;
}
.grid-laptop figure:hover figcaption { /*ako je parent hoverovan, stil ce se primeniti na potomka*/
  opacity: 1;
}


@media only screen and (max-width: 600px) {
  .bars-icon {
    display: inline;
    margin: auto;
    font-size: 30px;
  }
  .sm-d-none {
    display: none;
  }
}

