* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: 'Oswald', Courier, monospace;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 26px;
  font-weight: 100;
  font-family: 'Work Sans';
  color: #29293a;
}
h4 {
  font-size: 22px;
  font-weight: 100;
  color: #29293a;
}
h5 {
  font-size: 20px;
  font-weight: 100;
  color: #fff;
  font-family: 'Work Sans';
}
h6 {
  font-size: 18px;
}
p {
  font-size: 16px;
}
a {
  text-decoration: none;
}
ul, ol {
  list-style: none;
}
footer, section, nav, header {
  display: block;
}
/* HEADER STYLES */
nav {
  position: fixed;
}
header {
  height: 100px;
  width: 100%;
  font-size: 14px;
  font-weight: 300;
  position: fixed;
  border-bottom: .01px solid #d8d8d8;
  background-color: #fff;
  -webkit-box-shadow: 0px 11px 11px -5px rgba(0,0,0,0.72); 
  box-shadow: 0px 11px 11px -5px rgba(0,0,0,0.15);
  z-index: 1;
}
.header-logo {
  background-image: url(/assets/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 190px;
  height: 40px;
}
.container {
  height: 1000px;
  width: 100%;
}
.d-inline {
  display: inline-block;
}
/* This class is not used yet */
.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.right {
  text-align: right;
  justify-content: space-between;
  position: relative;
  bottom: 30px;
  left: 300px;
}
.nav-link {
  padding: 5px 15px;
  text-decoration: none;
  color: #29293a;
  transition: .25s;
  text-transform: uppercase;
  letter-spacing: .5px;
  margin-left: 20px;
}
.nav-link:hover, .nav-link:active, .h-business:hover, .h-business:active {
  color: #1ab785;
}
.bars-icon {
  display: none;
  position: relative;
  height: 40px;
  width: 40px;
  z-index: 1;
}
.bars-icon input {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 2;
}
#menu input:checked ~ span:nth-last-child(4) {
  transform: rotate(45deg) translate(0px, -10px) scale(1.3, 1.3);
}
#menu input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  top: 50%;
  transform: translateY(-50%);
}
#menu input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(-5px, 12px) scale(1.3, 1.3);
}
.bars-icon span {
  position: absolute;
  width: 40px;
  height: 6px;
  background-color: #29293a;
  transition: all .2s ease-in;
  opacity: 1;
}
.bars-icon span:first-child {
  top: 0;
}
.bars-icon span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.bars-icon span:nth-child(3) {
  bottom: 0;
}
.nav-mobile {
  min-width: 270px;
  background-color: #fff;
  position: absolute;
  left: -40px;
  top: 69px;
  opacity: 0;
  transform: translateX(-101%);
  transition: all 0.3s ease-in-out;
}
.nav-mobile li {
  padding: 14px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.nav-mobile li:hover {
  background-color: #16986f;
}
.nav-mobile li:hover a {
  color: #f5f6fa;
}
.nav-mobile a {
  color: #29293a;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
#menu input:checked ~ ul {
  opacity: 1;
  transform: translateX(0); /*or transform: none*/
}
.swiper-bullet {
  display: flex;
  justify-content: center;
}
.swiper-bullet span {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  /* background-color: #16986f; */
  color: #29293a;
  text-align: center;
  line-height: 32px;
  margin: 20px 10px;
  transition: 0.5s;
  
}
.bullet {
  position: relative;
}
.bullet input {
  position: absolute;
  width: 27px;
  height: 27px;
  opacity: 0;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  left: 24%;
  cursor: pointer;
}
.bullet img {
  width: 1520px;
  height: 600px;
  object-fit: cover;
  opacity: 0;
  position: absolute;
  bottom: 50%;
  margin-bottom: 35px;
}
.bullet-02 ~ img {
  left: -1412%;
}
.bullet-03 ~ img {
  left: -1512%;
}
#swiper input:checked ~ span {
  color: #f5f6fa;
  background-color: #16986f;
}
#swiper input.bullet-02:checked ~ img, #swiper input.bullet-03:checked ~ img {
  opacity: 1;
}

/* GLOBAL CLASSES */
.my-20 {
  margin: 20px 0px;
}
.my-30 {
  margin: 30px 0px;
}
.my-50 {
  margin: 50px 0px;
}
.mx-30 {
  margin: 0 30px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-14 {
  margin-top: 14px;
}
.mx-200 {
  margin-right: 200px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mr-50 {
  margin-right: 50px;
}
.padding-y-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}
.padding-x-30 {
  padding-left: 30px;
  padding-right: 30px;
}
/* @TODO refactor to flexbox */
/* .grid {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-column-gap: 10px;
  height: 100px;
} */
.flex {
  display: flex;
  justify-content: space-around;
  height: 100px;
  align-items: center;
}
.banner-image {
  background-image: url(/assets/marketing.jpg);
  height: 660px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.center {
  text-align: center;
}
.services {
  display: block;
  font-family: 'Work Sans';
  color: #74757f;
  width: 100%;
  margin: 20px auto;
}
.h3-style {
  font-family: 'Work Sans';
  color: #29293a;
}
.max-w {
  max-width: 730px;
}
.content-width {
  max-width: 1170px;
  margin: 0 auto;
}
.grid-services {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 50px;
}
.flex-about-us {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.flex-about-us article {
  flex-basis: 50%;
}
.flex-about-us > div {
  flex-basis: 50%;
}
.flex-team {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 20px 0;
}
.flex-testimonials {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.flex-testimonials > div {
  flex-basis: 50%;
}
.grid-testimonial {
  display: grid;
  grid-template-columns: 20% 80%;
  text-align: left;
}
.flex-pricing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.img-about-us {
  background-image: url(/assets/about.jpg);
  height: 368px;
  width: 570px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.flex-team img {
  width: 300px;
  height: 330px;
  object-fit: cover;
  border-radius: 10px;
}
.flex-team figure {
  position: relative;
}
.flex-team figure::before {
  content: "";
  background-color: rgb(41, 41, 58);
  opacity: 0;
  transition: .5s;
  width: 100%;
  height: 330px;
  border-radius: 10px;
  position: absolute;
}
.flex-team figcaption {
  position: absolute;
  color: #fff;
  opacity: 0;
}
.team-member-name {
  bottom: 20%;
  left: 10%;
  font-size: 20px;
  font-family: 'Work Sans';
}
.position-title {
  bottom: 10%;
  left: 10%;
  font-size: 16px;
  font-family: 'Work Sans';
}
.flex-team figure:hover::before {
  opacity: 0.5;
}
.flex-team figure:hover figcaption {
  opacity: 1;
}
.img-team-person1 {
  /* width: 270px;
  height: 350px;*/
  margin: 10px auto;
  background-image: url(/assets/person1.jpg);
  height: 350px;
  width: 270px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 5px;
}
.img-team-person2 {
  /* width: 270px;
  height: 350px;*/
  margin: 10px auto;
  background-image: url(/assets/person2.jpg);
  height: 350px;
  width: 270px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 5px;
}
.img-team-person3 {
  /* width: 270px;
  height: 350px;*/
  margin: 10px auto;
  background-image: url(/assets/person3.jpg);
  height: 350px;
  width: 270px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 5px;
}
.img-testimonials {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}
.text-bottom-left {
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.645);
  border-radius: 5px;
  color: #29293a;
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: 'Oswald';
}
.bg-about-us {
  background-color: #f5f6fa;
  padding: 72px 0;
}
.bg-testimonials {
  background-color: #f5f6fa;
  padding: 20px 0;
}
.bg-form-location {
  background-color: #f5f6fa;
}
.text {
  color: #74757f;
  font-family: 'Work Sans';
}
.btn {
  padding: 10px 45px;
  border-radius: 6px;
  border-style: none;
  background-color: #1ab785;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  font-family: 'Oswald';
  font-weight: 500;
  letter-spacing: .5px;
}
.btn:hover {
  transition: .25s;
  background-color: #16986f;
  color: #29293a;
  cursor: pointer;
}
.text-left {
  text-align: left;
}
.i-style {
  color: #1ab785;
  font-size: 25px;
}
.marketing {
  padding: 50px 0px;
  background-image: linear-gradient(to right, #21dba0, #0b4734);
}
.branding {
  padding: 80px 0px;
  background-image: linear-gradient(to right, #21dba0, #0b4734);
}
.branding h3 {
  font-size: 36px;
  font-family: 'Work Sans';
  color: #fff;
}
.iframe {
  margin: 0px auto;
}
/* .testimonials {
  margin: 0px auto;
} */
.text-testimonials {
  padding: 0px 10px;
  margin: auto 0px;
}
.text-green {
  color: #1ab785; 
  font-size: 20px;
}
.text-grey {
  color: #74757f;
}
.p-font {
  font-family: 'Work Sans';
}
.border-pricing {
  border: .01px solid #d8d8d8;
}
.h-business {
  font-size: 22px;
  font-weight: 1000;
  font-family: 'Work Sans';
  transition: .25s;
}
.grid-laptop {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.grid-laptop img { /*svaki img unutar ove klase (ne samo direktan child)*/
  height: 200px;
  object-fit: cover;
}
.grid-laptop figure {
  position: relative;
}
.grid-laptop figure::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 200px;
  background-color: rgb(41, 41, 58);
  top: 0;
  left: 0;
  opacity: 0;
  transition: .5s;
}
.grid-laptop figcaption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 50px;
  opacity: 0;
}
.grid-laptop figure:hover::before {
  opacity: 0.341;
}
.grid-laptop figure:hover figcaption { /*ako je parent hoverovan, stil ce se primeniti na potomka*/
  opacity: 1;
}
.firstname {
  grid-area: firstname;
}
.lastname {
  grid-area: lastname;
}
.email {
  grid-area: email;
}
.phone {
  grid-area: phone;
}
.message {
  grid-area: message;
}
.firstname-input {
  grid-area: firstname-input;
}
.lastname-input {
  grid-area: lastname-input;
}
.email-input {
  grid-area: email-input;
}
.phone-input {
  grid-area: phone-input;
}
.message-textarea {
  grid-area: message-textarea;
}
.grid-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
  "firstname lastname"
  "firstname-input lastname-input"
  "email phone"
  "email-input phone-input"
  "message none"
  "message-textarea message-textarea";
  gap: 10px;
  padding: 30px 0px;
}
.flex-contactus {
  display: flex;
  /* grid-template-columns: repeat(2, 1fr); */
  padding: 20px 0px;
}
.flex-contactus > form, .flex-contactus > div {
  flex-basis: 50%;
}
.grid-contactus img {
  object-fit: cover;
  height: 500px;
  padding: 30px 0px;
}
.form-title {
  font-family: 'Work Sans';
  font-size: 26px;
  color: #29293a;
}
.grid-form input, textarea {
  min-height: 48px;
  border-radius: 6px;
  border: solid 1px #c5c6cd;
  padding: 10px;
}
.grid-form label {
  font-style: 'Work Sans';
  font-size: 16px;
  color: #a6a6a6;
  cursor: pointer;
  letter-spacing: 1px;
  line-height: 16px;
}
.input-text {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.error-msg {
  font-size: 10px;
  font-family: 'Work Sans';
  font-weight: 500;
  color: #ff0000;
  opacity: 0;
}
footer {
  background-color: #29293a;
  padding: 90px 0px 50px;
  font-family: 'Work Sans';
}
.grid-footer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 100px;
}
.grid-quick-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 15px;
  column-gap: 30px;
}
.grid-quick-links a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  transition: .5s;
}
.grid-footer ul a {
  text-decoration: none;
  color: #aeb1be;
  font-size: 16px;
  font-family: 'Work Sans';
  transition: .5s;
}
.grid-quick-links a:hover {
  color: #aeb1be;
}
.grid-footer ul a:hover {
  color: #fff;
}
footer h3 {
  color: #aeb1be;
  font-size: 24px;
}
footer hr {
  margin: 15px 0px 30px;
  border: #aeb1be solid .5px;
  opacity: .5;
}
footer i {
  color: #fff;
}
footer p {
  color: #aeb1be;
}
footer li {
  position: relative;
}
footer li > .icon {
  position: absolute;
}
footer li a {
  display: block;
  margin-left: 35px;
}


@media only screen and (max-width: 850px) {
  .bars-icon {
    font-size: 30px;
    display: block;
  }
  .sm-d-none {
    display: none;
  }
  header > .content-width {
    margin: 0 40px;
  }
  .flex {
    justify-content: space-between;
  }
}

@media only screen and (min-width: 851px) and (max-width: 992px) {
  .content-width {
    max-width: 830px;
    margin: 0 auto;
  }
  .flex {
    justify-content: space-between;
  }
  .nav-link {
    padding: 5px 10px;
    margin: 0;
  }
  .flex-team img {
    width: 250px;
    height: 300px;
  }
}

@media only screen and (min-width: 993px) and (max-width: 1060px) {
  .nav-link {
    margin: 0;
  }
  .grid-services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
  }
  .content-width {
    max-width: 950px;
    margin: 0 auto;
  }
  .grid-quick-links {
    column-gap: 10px;
  }
}




