* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: 'Oswald', Courier, monospace;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 26px;
  font-weight: 100;
  font-family: 'Work Sans';
  color: #29293a;
}
h4 {
  font-size: 22px;
  font-weight: 100;
  color: #29293a;
}
h5 {
  font-size: 20px;
  font-weight: 100;
  color: #fff;
  font-family: 'Work Sans';
}
h6 {
  font-size: 18px;
}
p {
  font-size: 16px;
}
a {
  text-decoration: none;
}
ul, ol {
  list-style: none;
}
footer, section, nav, header {
  display: block;
}
nav {
  position: fixed;
}
header {
  height: 100px;
  width: 100%;
  font-size: 14px;
  font-weight: 300;
  position: fixed;
  border-bottom: .01px solid #d8d8d8;
  background-color: #fff;
  box-shadow: -webkit-box-shadow: 0px 11px 11px -5px rgba(0,0,0,0.72); 
  box-shadow: 0px 11px 11px -5px rgba(0,0,0,0.15);
}
.header-logo {
  background-image: url(logo.png);
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
}
.container {
  height: 1000px;
  width: 100%;
}
.d-inline {
  display: inline-block;
}
.right {
  text-align: right;
  justify-content: space-between;
  position: relative;
  bottom: 30px;
  left: 300px;
}
.ul-nav {
  margin-top: 36px;
  margin-bottom: 74px;
}
.nav-link {
  padding: 5px 15px;
  text-decoration: none;
  color: #29293a;
  transition: .25s;
  text-transform: uppercase;
  letter-spacing: .5px;
  margin-left: 20px;
}
.nav-link:hover, .nav-link:active {
  color: #1ab785;
}
.my-20 {
  margin: 20px 0px;
}
.mt-50 {
  margin-top: 50px;
}
.mx-200 {
  margin-right: 200px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mr-50 {
  margin-right: 50px;
}
.grid {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-column-gap: 10px;
}
.banner-image {
  background-image: url(marketing.jpg);
  height: 660px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.center {
  text-align: center;
}
.services {
  display: block;
  font-family: 'Work Sans';
  color: #74757f;
  width: 100%;
  margin: 20px auto;
}
.h3-style {
  font-family: 'Work Sans';
  color: #29293a;
}
.max-w {
  max-width: 730px;
}
.content-width {
  max-width: 1170px;
  margin: 0 auto;
}
.grid-services {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 50px;
}
.grid-about-us {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 100px;
}
.grid-team {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-template-rows: 370px;
}
.img-about-us {
  background-image: url(about.jpg);
  height: 368px;
  width: 570px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.img-team-person1 {
  /* width: 270px;
  height: 350px;*/
  margin: 10px auto;
  background-image: url(person1.jpg);
  height: 350px;
  width: 270px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.img-team-person2 {
  /* width: 270px;
  height: 350px;*/
  margin: 10px auto;
  background-image: url(person2.jpg);
  height: 350px;
  width: 270px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.img-team-person3 {
  /* width: 270px;
  height: 350px;*/
  margin: 10px auto;
  background-image: url(person3.jpg);
  height: 350px;
  width: 270px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.text-bottom-left {
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.645);
  
  color: #29293a;
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: 'Oswald';
}
.bg-about-us {
  background-color: #f5f6fa;
  padding: 72px;
}
.text-about-us {
  color: #74757f;
  font-family: 'Work Sans';
}
.btn {
  padding: 10px 45px;
  border-radius: 6px;
  border-style: none;
  background-color: #1ab785;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  font-family: 'Oswald';
  font-weight: 500;
  letter-spacing: .5px;
}
.btn:hover {
  transition: .25s;
  background-color: #16986f;
  color: #29293a;
  cursor: pointer;
}
.text-left {
  text-align: left;
}
.i-style {
  color: #1ab785;
  font-size: 25px;
}
.marketing {
  padding: 50px 0px;
  background-image: linear-gradient(to right, #21dba0, #0b4734);
  
}

